.registerText {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.registerFormText {
    width: 60% !important;
}

#LoginButs {
    display: flex; 
    align-items: center !important;
    justify-content: center !important;
    color: white;
}

