p {
    color: white;
    /* text-align: center; */
    /* font-size: 20px; */
}

.text1 {
    font-size: 18px;
}

.text2 {
    font-size: 20px;
}

#RegisterText {
    margin-top: 100px;
}

#Register {
    display: flex; 
    align-items: center !important;
    justify-content: center !important;
    color: white;
}

#LoginSegment {
    border-top: solid;
    border-top-color: white;
}

/* Large Screens */
@media screen and (min-width: 846px) {
    #loginContainer {
        margin-left: 15%;
        margin-right: 15%;
    }
}