.editContainer {
    margin-left: 20%;
}

.editHeader {
    font-size: 3em;
}

.pageimg {
    width: 800px;
    height: 450px;
}

.bookbar {
    margin-right: 34%;
}

.restName {
    font-size: 3em;
}

.editText {
    font-size: 2em;
}
