#landingpage {
    border-style: solid;
    border-width: 10px;
}

#pageImage {
    height: 450px;
    width: 57%;
    margin-left: 20%
}

#BookBox { 
    width:87%;
    /* position: absolute; */
    left: 5%;
}

.pageText {
    margin-bottom: 10px;
    font-size: 3em;
}

.ui.progress {
    margin-bottom: 1em;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    padding-top: 85px;
    margin-left: 20%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    
}

h3 {
    color: white;
}

.smallText {
    color: white;
}

.restaurantDetails {
    margin-top: 100px;
}

#MostLoyal {
    padding-left: 20%;
}

.loyalCText {
    font-size: 3em;
}